@import url('https://fonts.googleapis.com/css2?family=Clarity+City:wght@400..700&display=swap');

body {
    background-color: #EFFFFF;
    font-family: 'Clarity City', sans-serif;
}

a {
    text-decoration: none;
    color:#14252F;
}

.h2 {
    background-color: #328a7a;
    text-align: center;
}

.navbar-custom {
    background-color: #328a7a; 
}

.footer-custom {
    background-color: #14252F;
}